{% extends 'base.html' %}

{% load humanize %}
{% block content %}
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Til sölu
                    <small>25 á síðu</small>
                    <small>{{totalNumber}} í heildina</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        {% for estate in estates|dictsort:"price" %}
       <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="{% url 'single' estate.pk %}">
                    <img class="img-responsive" src="{{ estate.pictures }}" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>{{ estate.street }}</h3>
                <h4>{{ estate.zip }}</h4>
                {% if estate.modified != None %}
                <h5>Fyrra verð: {{ estate.previousPrice|intcomma }}</h5>
                <h6>Uppfært: {{ estate.modified }}</h6>
                {% endif %}
                <h5>Verð: {{ estate.price|intcomma }}</h5>
                <h6>Herbergi: {{ estate.rooms }}</h6>
                <h6>Stærð: {{ estate.area }}</h6>
                {% autoescape off %}
                <p>{{ estate.description|truncatewords_html:17 }}</p>
                {% endautoescape %}
                <a class="btn btn-primary" href="{% url 'single' estate.pk %}" target="_blank">Skoða nánar <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        {% endfor %}

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    {% if estates.has_previous %}
                    <li>
                        <a href="?page={{ estates.previous_page_number }}">&laquo;</a>
                    </li>
                    {% endif %}
                    {% for i in estates.paginator.page_range %}
                        {% if forloop.counter == estates.number %}
                        <li class="active">
                        {% else %}
                        <li>
                        {% endif %}
                            <a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                        
                        </li>
                    {% endfor %}
                    {% if estates.has_next %}
                    <li>
                        <a href="?page={{ estates.next_page_number }}">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Steinar Eyþór</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
{% endblock %}