{% load humanize %}
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Allar eignir
                    <small>{{ estates|length }}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        {% for estate in estates|dictsort:"price" %}
       <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="{{ estate.pictures }}" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>{{ estate.street }}</h3>
                <h4>{{ estate.zip }}</h4>
                <h5>Verð: {{ estate.price|intcomma }}</h5>
                <h6>Herbergi: {{ estate.rooms }}</h6>
                <h6>Stærð: {{ estate.area }}</h6>
                <p>{{ estate.description }}</p>
                <a class="btn btn-primary" href="http://fasteignir.visir.is/property/{{ estate.siteID }}" target="_blank">Skoða nánar <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        {% endfor %}

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Steinar Eyþór</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>